body{
    margin: 0;
    padding: 0;
    color: white;
    background-repeat: no-repeat;
    background-image: url("backg.jpg");
    background-color: #060606;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.restau_landingpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
   
    background-size: 100%;
    

}

.restau_name{
    font-size: 6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu_dish{

    height: 100vh;
    width: 100%;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.dish_container{
   
    
    background-color: transparent;
    border: solid 2px white;
    color: white;
   padding: 20px;
   border-radius: 10px;
   width: 200px;
   height: 300px;
    
}
.dishes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: 90vh;
    
}
.dish{
    font-size: 1vw;
    margin-left: 10px;
}
.price{
    font-size: 1.5vw;
    margin-left: 20px; 
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categ{
    font-size: 1.5vw;
}
img{
   height: 180px;
   width: 160px;
   border-radius: 2px;
}
.dish_img{
    display: flex;
    align-items: center;
    justify-content: center;
}